<div class="card py-4">
	<h3 id="title" class="px-4">{{ 'menu.profile' | translate }}</h3>
	<form [formGroup]="form" class="px-4" *ngIf="form">
		<div class="row">
			<div class="col-12 col-xl-6 mb-3">
				<kendo-floatinglabel class="w-100" [text]="'label.firstName' | translate"
					><kendo-textbox formControlName="firstName" placeholder=" " id="firstName"></kendo-textbox
				></kendo-floatinglabel>
			</div>

			<div class="col-12 col-xl-6 mb-3">
				<kendo-floatinglabel class="w-100" [text]="'label.lastName' | translate"
					><kendo-textbox formControlName="lastName" placeholder=" " id="lastName"></kendo-textbox
				></kendo-floatinglabel>
			</div>

			<div class="col-12 col-xl-6 mb-3">
				<kendo-floatinglabel class="w-100" [text]="'label.email' | translate"
					><kendo-textbox formControlName="email" placeholder=" " id="email"></kendo-textbox
				></kendo-floatinglabel>
			</div>

			<div class="col-12 col-xl-6 mb-3">
				<kendo-floatinglabel class="w-100" [text]="'label.phone' | translate"
					><kendo-textbox formControlName="phone" placeholder=" " id="phone"></kendo-textbox
				></kendo-floatinglabel>
			</div>

			<div class="col-12 col-xl-6 mb-3">
				<kendo-floatinglabel class="w-100" [text]="'label.birthDate' | translate"
					><date-only-picker formControlName="birthDate" placeholder=" " id="birthDate"></date-only-picker
				></kendo-floatinglabel>
			</div>
		</div>
	</form>
</div>

<div class="mt-3 card py-4">
	<div class="d-flex justify-content-between px-4">
		<h3 id="title_card">{{ 'label.card' | translate }}</h3>
		<button [disabled]="formCard && formCard.invalid === true" class="btn btn-primary" (click)="saveCardDetails()">
			{{ 'action.save' | translate }}
		</button>
	</div>
	<form [formGroup]="formCard" class="px-4" *ngIf="formCard">
		<div class="row">
			<div class="col-12 mb-3">
				<kendo-floatinglabel class="w-100" [text]="'label.fullName' | translate"
					><kendo-textbox
						formControlName="fullName"
						placeholder=" "
						id="fullName"
						[setId]="'profile_card_fullName'"
					></kendo-textbox
				></kendo-floatinglabel>
			</div>

			<div class="col-12 mb-3">
				<kendo-floatinglabel class="w-100" [text]="'label.cardNumber' | translate"
					><kendo-maskedtextbox
						mask="0000 0000 0000 0000"
						formControlName="cardNumber"
						placeholder=" "
						id="cardNumber"
						[setId]="'profile_card_cardNumber'"
					></kendo-maskedtextbox
				></kendo-floatinglabel>
			</div>

			<div class="col-6 mb-3">
				<kendo-floatinglabel class="w-100" [text]="'label.expirationDate' | translate"
					><kendo-maskedtextbox
						mask="00/00"
						formControlName="expirationDate"
						placeholder=" "
						id="expirationDate"
						[setId]="'profile_card_expirationDate'"
					></kendo-maskedtextbox
				></kendo-floatinglabel>
			</div>

			<div class="col-6 mb-3">
				<kendo-floatinglabel class="w-100" [text]="'label.securityCode' | translate"
					><kendo-numerictextbox
						[setId]="'profile_card_securityCode'"
						[spinners]="false"
						formControlName="securityCode"
						placeholder=" "
						id="securityCode"
						[decimals]="0"
						format="n0"
						[maxlength]="3"
					></kendo-numerictextbox
				></kendo-floatinglabel>
			</div>
		</div>
	</form>
</div>
