<div class="card py-4">
	<h3 id="title" class="px-4">{{ 'menu.profile' | translate }}</h3>
	<form [formGroup]="form" class="px-4" *ngIf="form">
		<div class="row">
			<div class="col-12 col-xl-6 mb-3">
				<kendo-floatinglabel class="w-100" [text]="'label.firstName' | translate"
					><kendo-textbox formControlName="firstName" placeholder=" " id="firstName"></kendo-textbox
				></kendo-floatinglabel>
			</div>

			<div class="col-12 col-xl-6 mb-3">
				<kendo-floatinglabel class="w-100" [text]="'label.lastName' | translate"
					><kendo-textbox formControlName="lastName" placeholder=" " id="lastName"></kendo-textbox
				></kendo-floatinglabel>
			</div>

			<div class="col-12 col-xl-6 mb-3">
				<kendo-floatinglabel class="w-100" [text]="'label.email' | translate"
					><kendo-textbox formControlName="email" placeholder=" " id="email"></kendo-textbox
				></kendo-floatinglabel>
			</div>

			<div class="col-12 col-xl-6 mb-3">
				<kendo-floatinglabel class="w-100" [text]="'label.phone' | translate"
					><kendo-textbox formControlName="phone" placeholder=" " id="phone"></kendo-textbox
				></kendo-floatinglabel>
			</div>

			<div class="col-12 col-xl-6 mb-3">
				<kendo-floatinglabel class="w-100" [text]="'label.birthDate' | translate"
					><date-only-picker formControlName="birthDate" placeholder=" " id="birthDate"></date-only-picker
				></kendo-floatinglabel>
			</div>
		</div>
	</form>
</div>
