<h3>{{ 'menu.menu' | translate }}</h3>

<div class="row mb-3" *ngIf="request">
	<div class="col-12 col-md-3 col-lg-2">
		<kendo-floatinglabel class="w-100" [text]="'label.name' | translate">
			<kendo-textbox placeholder=" " [(ngModel)]="request.type" (valueChange)="onFilterChange({name: $event})" id="type">
				<ng-template kendoComboBoxItemTemplate let-dataItem> {{dataItem.firstName + ' ' + dataItem.lastName}} </ng-template>
			</kendo-textbox>
		</kendo-floatinglabel>
	</div>
</div>

<span *ngFor="let item of menu; let index = index">
	<div [id]="'menu_' + item.type" class="card mb-1 px-4">
		<h5 [id]="" class="m-0 user-select-none" (click)="item.visible = !item.visible">{{item.type | translate}}</h5>

		<div *ngIf="item.visible">
			<div *ngFor="let subItem of item.menuItems">
				<hr class="horizontal dark mt-0" />
				<p>{{ subItem.name | translate }}</p>

				<div>
					<p style="margin-right: 1rem">{{ subItem.price }} €</p>
					<div class="d-flex">
						<button
							[id]="'menu_' + item.type + '_menuItem_' + subItem.name + '_decrease'"
							class="btn btn-sm btn-primary m-0"
							(click)="changeQuantity(subItem, -1)"
							[disabled]="subItem.quantity === 0 || !subItem.quantity"
						>
							<i class="fa-solid fa-circle-minus"></i>
						</button>
						<div style="height: 32px; width: 32px" class="d-flex justify-content-center align-self-center">
							{{ subItem.quantity ?? 0 }}
						</div>
						<button
							[id]="'menu_' + item.type + '_menuItem_' + subItem.name + '_increase'"
							class="btn btn-sm btn-primary m-0"
							(click)="changeQuantity(subItem, 1)"
							[disabled]="subItem.quantity === 50"
						>
							<i class="fa-solid fa-circle-plus"></i>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</span>
<icon-button
	[disabled]="buttonDisabled"
	icon="bag-add-outline"
	expand="full"
	(onClick)="addToCart()"
	[title]="'action.addToCart' | translate"
></icon-button>
