<div class="card px-4 py-2 mb-2" *ngFor="let item of orders">
	<div>
		<h2>Sorry for not displaying content</h2>
		<hr class="horizontal dark mt-0" />
		<div class="card px-4 py-2 mb-2">
			<div class="d-flex justify-content-between">
				<h4>{{ 'label.total' | translate }} {{item.sum}} €</h4>
				<icon-button
					class="d-flex justify-content-end"
					icon="bag-add-outline"
					expand="full"
					[title]="'action.pay' | translate"
					(onClick)="pay(item.sum)"
				></icon-button>
			</div>
		</div>
	</div>
</div>
