<div *ngIf="selected" class="culture-change">
	<div class="dropdown">
		<a class="dropdown-toggle cursor-pointer" data-bs-toggle="dropdown">
			<img style="width: 40px" [src]="'../../../assets/images/flags/' + selected.isoCode + '.svg'" />
		</a>
		<ul class="dropdown-menu overflow-hidden">
			<div *ngFor="let culture of cultures">
				<div *ngIf="culture.isoCode !== selected.isoCode">
					<li (click)="onCultureChange(culture)">
						<a class="dropdown-item p-0"
							><img style="width: 40px" class="cursor-pointer" src="../../../assets/images/flags/{{culture.isoCode}}.svg"
						/></a>
					</li>
				</div>
			</div>
		</ul>
	</div>
</div>
