<div class="d-flex justify-content-center">
	<div class="card p-3" style="width: 26rem">
		<h3 class="text-center mb-4">{{ 'label.signUp' | translate }}</h3>

		<form [formGroup]="form">
			<div class="row">
				<div class="col-12 mb-3">
					<input
						id="register_firstName"
						class="form-control"
						formControlName="firstName"
						[placeholder]="'label.firstName' | translate"
					/>
				</div>
				<div class="col-12 mb-3">
					<input
						id="register_lastName"
						class="form-control"
						formControlName="lastName"
						[placeholder]="'label.lastName' | translate"
					/>
				</div>
				<div class="col-12 mb-3">
					<input id="register_email" class="form-control" formControlName="email" [placeholder]="'label.email' | translate" />
				</div>
				<div class="col-12 mb-3">
					<input id="register_phone" class="form-control" formControlName="phone" [placeholder]="'label.phone' | translate" />
				</div>
				<div class="col-12 mb-3">
					<date-only-picker id="register_birthDate" formControlName="birthDate"></date-only-picker>
				</div>
				<div class="col-12 mb-3">
					<input
						id="register_password"
						class="form-control"
						formControlName="password"
						[placeholder]="'label.password' | translate"
						type="password"
					/>
				</div>
				<div class="col-12 mb-3">
					<input
						id="register_confirm_password"
						class="form-control"
						formControlName="confirmPassword"
						[placeholder]="'label.confirmPassword' | translate"
						type="password"
					/>
				</div>
			</div>
		</form>
		<button id="register" [disabled]="form.invalid" class="mt-3 btn btn-primary" (click)="signUp(form.value)">
			{{ 'label.signUp' | translate }}
		</button>

		<div class="mt-3">
			<p>
				{{ 'label.haveAccount' | translate }}
				<span class="fw-bold" role="button" [routerLink]="['/login']" id="login">{{ 'label.signIn' | translate }}</span>
			</p>
		</div>
	</div>
</div>
