<div class="card px-4 py-2">
	<div class="d-flex justify-content-between">
		<p id="order_status_label" class="fw-bold">{{ 'label.status' | translate }}</p>
		<p id="order_status">{{order?.status}}</p>
	</div>
	<div class="d-flex justify-content-between">
		<p id="order_sum_label" class="fw-bold">{{ 'label.sum' | translate }}</p>
		<p id="order_sum">{{order?.sum}}</p>
	</div>
</div>
<!-- <div class="card px-4 py-2 mb-2" *ngFor="let itemItem of item">
		<h3>{{ item.name | translate }}</h3>

		<div class="d-flex justify-content-between">
			<p>{{ 'label.price' | translate }}</p>
			<p>{{item.price * item.quantity!}} €</p>
		</div>
		<div class="d-flex justify-content-between">
			<p>{{ 'label.quantity' | translate }}</p>
			<p>{{item.quantity}}</p>
		</div>
	</div>
	<button icon="card-outline" expand="full" (click)="pay()" [title]="'action.pay' | translate">{{'action.pay' | translate}}</button> -->
